.wallet-adapter-button {
    font-size: 22px !important;
    line-height: 30px !important;
    height: 48px !important;
    border-radius: 12px !important;
}
.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
    width: 28px !important;
    height: 28px !important;
}

@media (max-width: 762px) {
    .wallet-adapter-button {
        font-size: 15px !important;
        line-height: 21px !important;
        height: 36px !important;
        border-radius: 6px !important;
    }
    .wallet-adapter-button-end-icon,
    .wallet-adapter-button-start-icon,
    .wallet-adapter-button-end-icon img,
    .wallet-adapter-button-start-icon img {
        width: 18px !important;
        height: 18px !important;
    }
}
