$font-main: "Poppins";
$font-second: "Poppins";
$back-color: #000;
$primary-color: #76fff7;
$card-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);

$font-ssm: 12px;
$font-sm: 28px;
$font-md: 36px;
$font-md: 36px;

* {
    font-family: $font-main;
}
